<h1>Create New Recipe</h1>
<form method="POST" action="/recipes/<%=@recipe.id%>">
  <input id="hidden" type="hidden" name="_method" value="patch"></label>
  <label>Edit Name:<input type="text" name="name"></label>
  <label>Edit Ingredients:<input type="text" name="ingredients"></label>
  <label>Edit Cook Time:<input type="text" name="cook_time"></label>
  <input type="submit" value="submit">
</form>
